<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general :: header}">
</head>
<body>
<div class="container-fluid">
    <header th:insert="~{fragments/navbars :: common-nav}">
    </header>

    <main class="mt-3">
        <hr class="bg-exodia hr-2"/>
        <h1 class="text-center text-exodia">Create Auction</h1>
        <hr class="bg-exodia w-25 hr-2"/>
        <form class="mx-auto w-50" th:method="post" th:action="@{/auctions/create}" th:object="${auctionCreateModel}"
              enctype="multipart/form-data" >


            <div class="form-group" th:classappend="${#fields.hasErrors('name')} ? 'text-danger'">
                <label for="name">Name</label>
                <input type="text" class="form-control"
                       th:field="*{name}"  th:value="${auctionCreateModel.name}"
                       id="name" placeholder="Name..." name="name">

                <small id="usernameHelp"
                       th:each="error : ${#fields.errors('name')}" th:utext="${error +'<br>'}">
                </small>
            </div>

            <div class="row justify-content-between">
                <div class="col-5" th:classappend="${#fields.hasErrors('type')} ? 'text-danger'">

                    <label for="auctionType">Type</label>
                    <select name="type" class="form-control" id="auctionType" th:field="*{type}">
                        <option th:each="auctionType : ${T(beginfunc.domain.entities.enums.AuctionType).values()}"
                                th:value="${auctionType}" th:text="${auctionType}"
                                th:selected="${#strings.equals(auctionCreateModel.getType(), auctionType) ? true : false}">
                        </option>
                    </select>
                    <small id="typeHelp"
                           th:each="error : ${#fields.errors('type')}" th:utext="${error +'<br>'}">
                    </small>
                </div>


                <div class="col-2">
                    <div class="row">
                        <label class="form-check-label" for="isStartLater">
                            Start later?
                        </label>
                    </div>
                    <div class="row justify-content-center">
                        <input name="startLater" class="form-check-input" th:field="*{startLater}" type="checkbox"
                             th:checked="${#bools.isTrue(auctionCreateModel.startLater)? true : false}" id="isStartLater">
                    </div>

                </div>

                <div class="col-5" th:classappend="${#fields.hasErrors('category')} ? 'text-danger'">

                    <label for="category">Select category</label>
                    <select name="category" class="form-control" id="category" th:field="*{category}">
                        <option th:each="category : ${categories}"
                                th:value="${category.name}" th:text="${category.name}"
                                th:selected="${#strings.equals(auctionCreateModel.category, category.name) ? true : false}">
                        </option>
                    </select>
                    <small id="categoryHelp"
                           th:each="error : ${#fields.errors('category')}" th:utext="${error +'<br>'}">
                    </small>
                </div>
            </div>




            <div class="form-group" th:classappend="${#fields.hasErrors('description')} ? 'text-danger'">
                <label for="auctionDescription">Description</label>
                <textarea name="description" class="form-control" th:field="*{description}"
                          id="auctionDescription" rows="3"><th:block th:text="${auctionCreateModel.description}"></th:block></textarea>
                <small
                        th:each="error : ${#fields.errors('description')}" th:utext="${error +'<br>'}">
                </small>
            </div>

            <div class="row justify-content-between">
                <div class="col-5" th:classappend="${#fields.hasErrors('town')} ? 'text-danger'">
                    <label for="town">Town</label>
                    <input type="text" class="form-control"
                           th:field="*{town}"  th:value="${auctionCreateModel.town}"
                           id="town" placeholder="Town..." name="town">

                    <small id="townHelp"
                           th:each="error : ${#fields.errors('town')}" th:utext="${error +'<br>'}">
                    </small>

                </div>

                <div class="col-5" th:classappend="${#fields.hasErrors('wantedPrice')} ? 'text-danger'">
                    <label for="wantedPrice">Price</label>
                    <input type="number" step="0.01" class="form-control"
                           th:field="*{wantedPrice}"  th:value="${auctionCreateModel.wantedPrice}"
                           id="wantedPrice" placeholder="Price..." name="wantedPrice">

                    <small id="wantedPriceHelp"
                           th:each="error : ${#fields.errors('wantedPrice')}" th:utext="${error +'<br>'}">
                    </small>

                </div>

            </div>




            <label>Product main image</label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="mainImage"
                       name="mainImage" accept="image/*" placeholder="Upload main image...">
                <label class="custom-file-label" for="mainImage"
                       th:text="${#bools.isTrue(session.productMainImage==null)} ? 'Upload file...' : 'Choose other...'">
                </label>
            </div>
            <div th:utext="${#bools.isTrue(session.productMainImage!=null)} ? ${'Selected file: '}
            + ${session.productMainImage.getName()+'<p></p>'}">
            </div>


            <label>Product images</label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="files"
                       accept="image/*"
                       placeholder="Upload files..." name="files" multiple>
                <label class="custom-file-label"
                       for="files" th:text="${#bools.isTrue(session.productImages==null)} ? 'Upload files...' : 'Choose others...'"></label>
            </div>

            <div th:if="${#bools.isTrue(session.productImages!=null)}">
                <label>Selected files:</label>
                <p th:each="file, place : ${session.productImages}" th:text="${place.index+1} +' - '+ ${file.getName()}">
                </p>
            </div>


            <script>
                $('input[type="file"]').on('change', function () {
                    let filenames = [];
                    let files = document.getElementById('files').files;

                    for (let i in files) {
                        if (files.hasOwnProperty(i)) {
                            filenames.push(files[i].name);
                        }
                    }
                    $(this).next('.custom-file-label').addClass("selected").html(filenames.join(', '));
                });

                $('#mainImage').on('change', function() {
                    let fileName = $(this).val().split('\\').pop();
                    $(this).next('.custom-file-label').addClass("selected").html(fileName);
                });
            </script>

            <hr class="bg-exodia hr-2"/>
            <div class="button-holder mt-4 d-flex justify-content-center">
                <button type="submit" class="btn bg-exodia text-white">Create</button>
            </div>

        </form>
        <hr class="bg-exodia hr-2 mt-5"/>
    </main>

    <footer th:replace="~{fragments/general :: footer}">
    </footer>
</div>

</body>
</html>