<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general :: header}">
</head>
<body>

<div class="container-fluid">
    <header th:insert="~{fragments/navbars :: common-nav}"></header>


    <main class="mt-3">
        <hr class="bg-exodia hr-2"/>

        <div class="print-container container-fluid w-75 text-center">

            <div class="row mb-4 justify-content-start">


                <article class="home-article" th:each="auction : ${auctions}"
                         th:data-thing="${auction.id}" onclick="showModal(this.getAttribute('data-thing'));">


                    <div class="article-square">
                        <img th:src="'/'+ ${auction.mainImageUrl}"/>
                    </div>
                    <div th:text="${auction.name}"></div>
                    <div th:text="${auction.currentPrice}"></div>
                    <div>
                        <a th:href="@{/auctions/details/{id}(id=${auction.id})}">Details</a>
                    </div>
                </article>
                <div th:replace="~{fragments/modals/modal-home}"></div>

            </div>

        </div>

        <hr class="bg-exodia hr-2 mt-5"/>
    </main>
    <footer th:replace="~{fragments/general :: footer}">
    </footer>
</div>

<script>
    function Get(yourUrl) {
        let Httpreq = new XMLHttpRequest(); // a new request
        Httpreq.open("GET", yourUrl, false);
        Httpreq.send(null);
        return Httpreq.responseText;
    }

    function showModal(id) {

        let x = JSON.parse(Get('/auctions/fetch/' + id));

        $("#auction-name").empty().append(x.name);
        $("#main-image").empty().append('<img class="modal-div" src="/' + x.mainImageUrl + '"/>');
        $("#price").empty().append(x.currentPrice);
        $("#seller").empty().append(x.seller);
        $("#time").empty().append(x.expiresAt);
        $("#town").empty().append(x.town);
        $("#details").empty().append('<a href="/auctions/details/' + x.id + '"  class="btn btn-primary">Details</a>');

        $('#homeModal').modal('show');
    }


    function onResize() {
        let el = $('.article-square');
        el.height(el.width());
    }

    $(window).resize(onResize);
    $(document).ready(onResize);

    // let cw = $('#main-image').width();
    // $('#main-image').css({
    //     'height': cw
    // });
    function onClick() {
        let article = $('.article-square');
        $('.article-square').css({
            'box-shadow': 'box-shadow: -2px -1px 15px 5px #585858;'
        });
    }

    $(document).ready(onResize);


</script>
</body>
</html>