<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general :: header}">
</head>
<body>

<div class="container-fluid">
    <header th:insert="~{fragments/navbars :: common-nav}"></header>


    <main>
        <div class="jumbotron mt-4 text-center">
            <hr/>
            <h1 style="color: red; font-weight: bold">You are not unauthorized to access this page!</h1>
            <hr/>

        </div>
    </main>

    <footer th:replace="~{fragments/general :: footer}">
    </footer>
</div>
</body>
</html>