<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>


<!-- Modal -->
<div th:fragment="auction-home-bidding" class="modal fade bd-example-modal-lg" id="imageModal"
     tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">


        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Picture</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&#9746;</span>
                    </button>
                </div>
                <div class="modal-body justify-content-center">

                    <div class="row text-center">
                        <div class="col w-100" id="divForImage">
                            <!--<img src="/upload/Coins/46/godinadeteto.png">-->
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>


</div>


</body>
</html>