<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div th:fragment="create(disabledIsLater)">

    <div class="form-group" th:classappend="${#fields.hasErrors('auctionCreateModel.name')} ? 'text-danger'">
        <label for="name">Name</label>
        <input type="text" class="form-control"
               th:field="${auctionCreateModel.name}" th:value="${auctionCreateModel.name}"
               id="name" placeholder="Name..." name="name">

        <small id="usernameHelp"
               th:each="error : ${#fields.errors('auctionCreateModel.name')}" th:utext="${error +'<br>'}">
        </small>
    </div>

    <div class="row justify-content-between">
        <div class="col-5" th:classappend="${#fields.hasErrors('auctionCreateModel.type')} ? 'text-danger'">

            <label for="auctionType">Type</label>
            <select name="type" class="form-control" id="auctionType" th:field="${auctionCreateModel.type}">
                <option th:each="auctionType : ${T(bauction.domain.entities.enums.AuctionType).values()}"
                        th:value="${auctionType}" th:text="${auctionType}"
                        th:selected="${#strings.equals(auctionCreateModel.getType(), auctionType) ? true : false}">
                </option>
            </select>
            <small id="typeHelp"
                   th:each="error : ${#fields.errors('auctionCreateModel.type')}" th:utext="${error +'<br>'}">
            </small>
        </div>

        <div class="col-2" th:hidden="${disabledIsLater}" >
            <div class="row" >
                <label class="form-check-label" for="isStartLater">
                    Start later?
                </label>
            </div>
            <div class="row justify-content-center">
                <input name="startLater" class="form-check-input" th:field="${auctionCreateModel.startLater}"
                       type="checkbox"
                       th:checked="${#bools.isTrue(auctionCreateModel.startLater)? true : false}"
                       id="isStartLater">
            </div>
        </div>

        <div class="col-5" th:classappend="${#fields.hasErrors('auctionCreateModel.category')} ? 'text-danger'">

            <label for="category">Select category</label>
            <div th:text="${auctionCreateModel.category}" id="insertCat" style="display: none"></div>
            <select name="category" class="form-control" id="category" th:field="${auctionCreateModel.category}"
                    onChange="showCollectionFields()">
                <option th:each="category : ${categories}"
                        th:value="${category.name}" th:text="${category.name}"
                        th:selected="${#strings.equals(auctionCreateModel.category, category.name) ? true : false}">
                </option>
            </select>
            <small id="categoryHelp"
                   th:each="error : ${#fields.errors('auctionCreateModel.category')}"
                   th:utext="${error +'<br>'}">
            </small>
        </div>
    </div>

    <div class="form-group"
         th:classappend="${#fields.hasErrors('auctionCreateModel.description')} ? 'text-danger'">
        <label for="auctionDescription">Description</label>
        <textarea name="description" class="form-control" th:field="${auctionCreateModel.description}"
                  id="auctionDescription" rows="3"><th:block
                th:text="${auctionCreateModel.description}"></th:block></textarea>
        <small
                th:each="error : ${#fields.errors('auctionCreateModel.description')}"
                th:utext="${error +'<br>'}">
        </small>
    </div>

    <div class="row justify-content-between">
        <div class="col-5" th:classappend="${#fields.hasErrors('auctionCreateModel.town')} ? 'text-danger'">
            <label for="town">Town</label>
            <input type="text" class="form-control"
                   th:field="${auctionCreateModel.town}" th:value="${auctionCreateModel.town}"
                   id="town" placeholder="Town..." name="town">

            <small id="townHelp"
                   th:each="error : ${#fields.errors('auctionCreateModel.town')}" th:utext="${error +'<br>'}">
            </small>
        </div>

        <div class="col-5"
             th:classappend="${#fields.hasErrors('auctionCreateModel.wantedPrice')} ? 'text-danger'">
            <label for="wantedPrice">Price</label>
            <input type="number" step="0.01" class="form-control"
                   th:field="${auctionCreateModel.wantedPrice}" th:value="${auctionCreateModel.wantedPrice}"
                   id="wantedPrice" placeholder="Price..." name="wantedPrice">

            <small id="wantedPriceHelp"
                   th:each="error : ${#fields.errors('auctionCreateModel.wantedPrice')}"
                   th:utext="${error +'<br>'}">
            </small>
        </div>
    </div>

    <div th:replace="~{fragments/auction/collection-inputs}"></div>

    <div class="text-center  my-4" id="insertMainImage" style="display: none">
        <h3>Main image</h3>
        <div class="row justify-content-center">
            <div class="col-2"></div>
            <div class="col-8" id="mainToInsert">
            </div>
            <div class="col-2"></div>
        </div>
    </div>

    <div th:insert="~{fragments/auction/input-single-file}"></div>

    <div class="text-center  my-4" id="insertImages" style="display: none">
        <h3 id="imagesTitle">Images</h3>
        <div id="allImages">

        </div>

    </div>

    <div th:insert="~{fragments/auction/input-multiple-files}"></div>


</div>




</body>
</html>