<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<label>Product main image</label>
<div class="custom-file">
    <input type="file" class="custom-file-input" id="mainImage"
           name="mainImage" accept="image/*" placeholder="Upload main image...">
    <label class="custom-file-label" for="mainImage"
           th:text="${#bools.isTrue(session.productMainImage==null)} ? 'Upload file...' : 'Choose other...'">
    </label>
</div>
<div th:utext="${#bools.isTrue(session.productMainImage!=null)} ? ${'Selected file: '}
            + ${session.productMainImage.getName()+'<p></p>'}">
</div>


</body>
</html>