<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<label>Product images</label>
<div class="custom-file">
    <input type="file" class="custom-file-input" id="files"
           accept="image/*"
           placeholder="Upload files..." name="files" multiple>
    <label class="custom-file-label"
           for="files"
           th:text="${#bools.isTrue(session.productImages==null)} ? 'Upload files...' : 'Choose others...'"></label>
</div>

<div th:if="${#bools.isTrue(session.productImages!=null)}">
    <label>Selected files:</label>
    <p th:each="file, place : ${session.productImages}"
       th:text="${place.index+1} +' - '+ ${file.getName()}">
    </p>
</div>


</body>
</html>